# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefiles
Makefile
makefile

# CMake
CMakeLists.txt
CMakeCache.txt
CMakeFiles/*
*.cmake

# Visual Studio
.vs/*
*.sln
*.vcxproj
*.vcxproj.*
*.vspx


#others
bin/
tmp/
Debug/
Release/

